<footer class="footer">
  <div class="footer-container">
    <!-- Contact Information Section -->
    <div class="footer-section contact-info">
      <h3>Contact Us</h3>
      <p>Email: <a href="mailto:info@studysurface.com">studysurface@gmail.com</a></p>
      <p>Phone: <a href="tel:+1234567890">+1 (234) 567-890</a></p>
      <p>Taguig City, Philippines</p>
    </div>

    <!-- Website Information Section -->
    <div class="footer-section website-info">
      <h3>Website Information</h3>
      <p>&copy; 2024 StudySurface-LianneDeldacan. All rights reserved.</p>
      <nav class="footer-nav">
        <a routerLink="/">Home</a> |
        <a routerLink="task">Task</a> |
        <a routerLink="pomodoro">Pomodoro</a> |
        <a routerLink="badges">Badges</a> |
        <a routerLink="resources">Resources</a> |
        <a routerLink="faq">FAQs</a> |
        <a routerLink="contact">Contact Us</a>

      </nav>
    </div>
  </div>
  <p style="margin-top: 3%;"><i>LIANNE FRANCHESKA S. DELDACAN | ITS181-2 | APPLICATION DEVELOPMENT 2 | BM3</i></p>
</footer>