@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/* Keyframes for fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contact-page {
  padding: 20px;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  animation: fadeIn 1s ease-out; /* Apply fade-in animation */
}

.contact-page h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #333;
  font-family: 'Montserrat', sans-serif; 
  color: #005f99;
}

.contact-page p {
  font-size: 1.2em;
  margin-bottom: 30px;
  color: #666;
  font-family: 'Montserrat', sans-serif; 
}

.contact-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding-right: 50px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
  font-family: 'Montserrat', sans-serif; 
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif; 
}

.submit-button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #005f99;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Montserrat', sans-serif; 
}

.submit-button:hover {
  background-color: #ffcc66; 
}

@media (max-width: 768px) {
    .contact-page {
      margin-top: 30%;
      margin-bottom: 20%;
    }
}